*{
    font-family: verdana;
    margin:0;
}
body{
    background:white;
}
.wrapper{
    width:100%;
    max-width:960px;
    margin:0 auto;
}
.flex-container{
    display:flex;
    background:white;
}
.width{
    width: 100%;
    max-width:960px;
    margin: 0 auto;
    flex-wrap:wrap;

}
.box{
    height: 100px;
    min-width:100px;
    flex:3 0 300px;
}

.one{
    background: red;
    

}
.two{
    background: hotpink;
    
}
.three{
    background: indigo;
    
    
}