*{
    font-family: verdana;
    margin:0;
}
body{
    background: grey;
}
.wrapper{
    width:100%;
    max-width:960px;
    margin:0 auto;
}
.flex-container{
   //display:flex;
    background:white;
}
.width{
    width: 100%;
    max-width:960;
    margin: 0 auto;
}
.box{
    height: 100px;
    min-width:100px;

}

.one{
    background: red;
    

}
.two{
    background: hotpink;
}
.three{
    background: indigo;
}